@charset "UTF-8";

.icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
}
.icon-arrowDown{
    mask-image: url(arrowDown.svg);
    -webkit-mask-image: url(arrowDown.svg);
}

.icon-star{
    mask-image: url(star.svg);
    -webkit-mask-image: url(star.svg);
}
.icon-short{
    mask-image: url(Short.svg);
    -webkit-mask-image: url(Short.svg);
}
.icon-high{
    mask-image: url(high.svg);
    -webkit-mask-image: url(high.svg);
}
.icon-original{
    mask-image: url(original.svg);
    -webkit-mask-image: url(original.svg);
}
.icon-cursor{
    mask-image: url(cursor.svg);
    -webkit-mask-image: url(cursor.svg);
}